/* components/HeroSection.css */
.hero-section {
    position: relative;
    width: 100%;
    height: 100vh; /* Full-screen height */
    background-image: url('../../assets/images/wallpaper.png'); /* Adjust the path */
    background-size: cover; /* Ensure the wallpaper covers the entire area */
    background-position: center; /* Center the wallpaper */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
  }
  
  .header {
    text-align: center;
    position: relative;
    margin-top: 100px;
  }
  
  .main-title {
    font-size: 64px;
    font-weight: 700;
    color: #fff; /* White color for better contrast */
    text-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Subtle shadow for text */
    line-height: 1.2;
  }
  
  @media (max-width: 768px) {
    .main-title {
      font-size: 48px;
    }
  }
  
  .search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 100px;
    align-items: center;
    margin-bottom: 200px;
    background-color: white;
    /*gap: 15px;
    width: 90%; 
    max-width: 800px;
    background-color: rgba(255, 255, 255, 0.9); Transparent background */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .input-group {
    display: flex;
    color: #6a6a6a;
    align-items: center;
    gap: 10px;
    background-color: #f9f9f9;
    padding: 12px;
    border-radius: 5px;
    border: 1px solid #d3d3d3;
    flex: 1;
    min-width: 200px;
  }
  
  .dropdown {
    border: none;
    background: none;
    color: #6a6a6a;
    outline: none;
    font-size: 16px;
    width: 100%;
    cursor: pointer;
  }

  .icon {
    font-size: 20px;
    color: #6a6a6a;
  }
  
  .input-group input {
    border: none;
    background: none;
    outline: none;
    font-size: 16px;
    width: 100%;
    color: #333;
  }

  .search-button {
    background-color: /*#3c47e9*/ #24577a;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .search-button:hover {
    background-color:/*#3c47e9*/ #24577a;
  }
  