/* components/Navbar.css */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px; /* You can adjust padding for more or less spacing */
  background-color: #fff;
  width: 100%; /* Ensure it takes full width */
  position: relative; /* Ensures proper stacking context */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Optional: Adds a subtle shadow */
}

.logo {
  font-size: 28px;
  font-weight: bold;
  color:/*#3c47e9*/ #24577a;
  cursor: pointer;
  margin-right: 450px;
}

.menu {
  display: flex;
  list-style: none;
  gap: 30px; /* Adjust spacing between menu items */
}

.menu li {
  font-size: 16px;
  color: #333;
  cursor: pointer;
}

.menu li:hover {
  color: #3c47e9;
}

.auth-buttons {
  display: flex;
  gap: 15px;
}

.signin-btn {
  background: transparent;
  border: none;
  color: #6a6a6a;
  font-size: 16px;
  cursor: pointer;
}

.signup-btn {
  background-color: #3c47e9;
  color: #fff;
  border: none;
  padding: 10px 20px; /* Ensure padding for the button */
  border-radius: 5px;
  border-color: #3c47e9;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition for hover */
}

.signup-btn:hover {
  background-color: #3c47e9;
}

/* Ensure the navbar has no margin */
body, html {
  margin: 0;
  padding: 0;
}
